 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 body {
   background-color: grey;
 }

 .App {
   position: relative;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   width: 90%;
   margin: 0 auto 0 auto;
   min-height: 100vh;
   font-size: 10px;
   overflow: auto;
 }

 .App.critic {
   animation: critic .2s linear;
 }

 .App .main {
   flex-grow: 1;
   display: flex;
   min-height: 90vh;
   background: linear-gradient(90deg, #cac531 0%, #e0cd1c 85%);
 }

 .App footer {
   min-height: 10vh;
   background-color: black;
 }

 .App .main main {
   width: 100%;
 }

 @media (min-width: 799px) {}


 /*
DLA PEŁNEGO EKRANU
body {
  min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  font-family: arial;
  font-size: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.main {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(90deg, #cac531 0%, #e0cd1c 85%);
}

.main aside {
  min-width: 80px;
  min-height: 100%;
}

.main main {
  flex-grow: 1;
}

footer {
  min-height: 40px;
  background-color: #222;
} */


 @keyframes critic {
   0% {
     top: -10px;
     left: -10px;
   }

   10% {
     top: 10px;
     left: 10px;
   }

   20% {
     top: 20px;
     left: 20px;
   }

   30% {
     top: -20px;
     left: -20px;
   }

   40% {
     top: 0px;
     left: -50px;
   }

   50% {
     top: 20px;
     left: -10px;
   }

   60% {
     top: -20px;
     left: 20px;
   }

   70% {
     top: -30px;
     left: -30px;
   }

   80% {
     top: 10px;
     left: 10px;
   }

   90% {
     top: 40px;
     left: 40px;
   }

   100% {
     top: 0px;
     left: 0px;
   }
 }