.pages {
    min-height: 100%;
    padding-bottom: 20px;
    padding-top: 50px;
    position: relative;
    width: 280px;
    transition: .2s;
    margin: 0 auto;
    font-size: 20px;
    max-width: 100%;
    font-family: arial;
}


/*button to toggle menu*/
.switchNav {
    top: 5px;
    left: 5px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.switchNav span {
    position: absolute;
    display: block;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: black;
    transition: .2s;
}

.switchNav span:nth-child(1) {
    top: 23%;
}

.switchNav span:nth-child(2) {
    top: 48%;
}

.switchNav span:nth-child(3) {
    top: 73%;
}

.pages.hide .switchNav span:nth-child(1) {
    display: none;
}

.pages.hide .switchNav span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: rotate(45deg)
}

.pages.hide .switchNav span:nth-child(3) {
    top: 50%;
    left: 0;
    transform: rotate(-45deg)
}

@media (min-width: 400px) {
    .pages {
        font-size: 33px;
        padding-top: 30px;
        width: 380px;
    }
}

@media (min-width: 500px) {
    .pages {
        font-size: 40px;
        padding-top: 30px;
        width: 450px;
    }
}

@media (min-width: 600px) {
    .pages {
        font-size: 45px;
        padding-top: 30px;
        width: 540px;
    }
}

@media (min-width: 800px) {
    .pages {
        font-size: 50px;
        width: 720px;
    }
}

@media (min-width: 900px) {
    .pages {
        width: 800px;
    }
}

@media (min-width: 1024px) {
    .pages {

        width: 800px;
        font-size: 20px;
    }

    .switchNav {
        display: none;
    }
}

@media (min-width: 1280px) {
    .pages {
        width: 900px;
        font-size: 30px;
    }

    .switchNav {
        display: none;
    }
}