.pages {

    height: 100%;
    display: flex;
    margin: 0 5%;
    /* background-image: url("../img/tapeta.jpg"); */
    background-repeat: no-repeat;
}

.page {
    height: 100%;
    text-align: center;
}

.critic {
    animation: critic 0.3s linear;
}

@keyframes critic {
    0% {
        top: 0px;
        left: 0px
    }

    10% {
        top: 20px;
        left: 50px
    }

    20% {
        top: -10px;
        left: 80px
    }

    30% {
        top: 20px;
        left: 20px
    }

    40% {
        top: -40px;
        left: -10px
    }

    50% {
        top: -20px;
        left: -50px
    }

    60% {
        top: -70px;
        left: -20px
    }

    70% {
        top: -40px;
        left: 0px
    }

    80% {
        top: 0px;
        left: 10px
    }

    60% {
        top: 20px;
        left: -10px
    }

    100% {
        top: 0px;
        left: 0
    }
}