.PickPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  min-height: 90vh;

}

.dicesToPick {
  flex-wrap: wrap;
  padding: 3%;
  text-align: center;
  margin-bottom: 20px;
}

.containerDicesToPick {
  position: relative;
  border-radius: 50%;
  display: inline-block;
  width: 16%;
  margin: 4vw;
  margin-top: 15vw;
  transition: 0.4s;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
}

.containerDicesToPick:hover {
  animation: pulse 2s linear infinite;
  cursor: pointer;
}

.containerDicesToPick img {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
}

.clickedDice {
  animation: pickDice 0.5s ease alternate backwards;
}

@keyframes pickDice {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rgba (0, 0, 0, 1);
  }

  70% {
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }
}


.dicesPicked {
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 400px;
  overflow: auto;
  padding: 20px;
  font-size: .8em;
}

.dicesPicked>h3 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.formPicked {
  display: flex;
  flex-direction: column;
}


.formPicked>div {
  width: 100%;
  margin-top: 20px;
}

.formPicked>div>* {
  text-align: center;
}

.formPicked input {
  display: block;
  width: 80%;
  border: 1px solid transparent;
  border-bottom: solid 1px black;
  background-color: transparent;
  margin: 9px auto;
  padding: 1%;
  padding-left: 5px;
  font-size: 0.7em;
}

input::-webkit-input-placeholder {
  color: black;
}

input[type=number] {
  text-align: center;
  width: 40%;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
} */

.formPicked input:focus {
  outline: none;
}

/*button*/

.submit {
  margin: 0 auto;
  display: inline-block;
  padding: 20px 30px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  border: 2px solid white;
  outline: none;
  background-color: transparent;
  white-space: nowrap;
  transition: 1s;
}

.submit::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: .3s;
}

.submit::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: .3s;
}

.submit span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.submit span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0;
  background-color: white;
  transition: .3s;
}

.submit span::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0px;
  top: 0;
  background-color: white;
  transition: .3s;
}

.submit:hover::after {
  top: -10px;
}

.submit:hover::before {
  bottom: -10px;
}

.submit:hover span::after {
  left: -10px;
}

.submit:hover span::before {
  right: -10px;
}

.submit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.submit:hover span {}

.containerPickedDices img {
  height: 25px;
  margin: 5px;
}

.errors {
  color: red;
}

/* 
dla dużego ekranu
/* .formPicked>div:nth-child(1) {
  width: 25%;
}

.formPicked>div:nth-child(2) {
  width: 25%;
}

.formPicked>div:nth-child(2) p {
  padding: 2%;
}

.formPicked>div:nth-child(3) {
  width: 15%;
}

.formPicked>div:nth-child(3) input {
  width: 50%;
}

.formPicked>div:nth-child(4) {
  width: 20%;
} */