.rollsContainer {
    padding: 3%;
}

.rollsElementCantainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rollsElement {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 2%;
    margin: 10px;
    font-size: .8em;
}

.rollsElement * {
    padding: 2px;
}

.rollsElement img {
    width: 20px;
}

.rollsElement button.delete {
    background-color: transparent;
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    left: -20px;
    top: 0;
    transition: 0.2s;
}

.rollsElement button.delete::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    transform: rotate(45deg);
    background-color: black;
}

.rollsElement button.delete::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    transform: rotate(-45deg);
    background-color: black;
}

.rollsElement button.delete:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgba(255, 0, 0, 0.4);
}

.rollsElement .nameRoll {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rollsElement .modifierRoll {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    color: greenyellow
}

.rollsElement .dicesRoll {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btnRollStart {
    position: relative;
    top: 0px;
    left: 0px;
    width: 20%;
    box-shadow: 0px 0px 4px #000;
    align-self: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: .2s;
    outline: none;
}

.btnRollStart:hover {
    top: -5px;
    left: -5px;
    box-shadow: 5px 5px 4px #000;
}

.btnRollStart:active {
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 4px #000;
    border: none;
}

.btnRollStart img {
    width: 100%;
}

.rollsElement .scoreRoll {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.throwParameters {
    width: 70%;
    text-align: center;

}

.throwParameters .modifierThrow {
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, .4);
    padding: 1px 5px 1px 5px;
    color: greenyellow
}

.throwSum {
    position: relative;
    width: 25%;
    border: 1px solid black;
    text-align: center;
}

.throwSum span {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media (min-width: 400px) {
    .rollsElement {
        font-size: .8em;
    }

    .rollsElement img {
        width: 30px;
    }
}

@media (min-width: 500px) {
    .rollsElement {
        font-size: .9em;
    }

    .rollsElement img {
        width: 40px;
    }
}

@media (min-width: 1024px) {

    .rollsElement {
        width: 100%;
        padding: 10px;
        margin: 10px;
        padding: 0;
    }

    .rollsElement img {
        width: 50px;
    }

    .btnRollStart img {
        width: 50%;
    }



    /*skopiowane*/
    .rollsElement>* {
        margin: 12px;

    }

    .rollsElement .nameRoll {
        width: 20%;
    }

    .rollsElement .modifierRoll {
        width: 7%;
        text-align: center;
    }

    .rollsElement .dicesRoll {
        display: block;
        width: 30%;
        max-height: 100px;
        overflow: auto;
    }

    /* width */
    .dicesRoll::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    .dicesRoll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px blue;
        border-radius: 10px;
    }

    /* Handle */
    .dicesRoll::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
    }

    .btnRollStart {
        width: 10%;
    }

    .btnRollStart:hover {
        top: -3px;
        left: -3px;
    }

    .btnRollStart img {
        width: 80%;
    }

    .rollsElement .scoreRoll {
        width: 20%;
        font-size: .5em;
    }

    .throwParameters {
        width: 70%;
    }

    .throwSum {
        display: flex;
        font-size: 1.3em;
        align-items: center;
        border: none;
    }

    .throwSum span {
        top: auto;
        left: auto;
        transform: none;
        padding: 13px;
        border: 1px solid black;
    }
}