.StartPage {
    padding-top: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.1rem;

}

.StartPage img {
    width: 70%;
}

.StartPage h1 {
    margin: 40px;
}

@media (min-width: 799px) {
    .StartPage h1 {
        margin: 40px;
    }

    .StartPage {
        padding-top: 30px;
        font-size: 1.3rem;
    }

    .StartPage img {
        width: 50%;
    }
}

@media (min-width: 1023px) {
    .StartPage {
        padding-top: 50px;
        font-size: 1.5rem;
    }

    .StartPage img {
        width: 40%;
    }
}